<% title @work.title %>
<% description @work.description.to_plain_text %>

<div class="flex-col space-y-16 md:space-y-36">
  <%= render(SectionComponent.new(id: @work.slug, title: @work.title, title_en: @work.client.public_name(suffix: "様"))) do |section| %>
    <% section.with_outline do %>
      <%= @work.content %>
    <% end %>
    <div class="flex flex-col space-y-10">
      <div class="aspect-w-4 aspect-h-3">
        <%= image_tag (@work.image.variable? ? @work.image.variant(:default).processed : @work.image).url(expires_in: nil), class: "h-full w-full object-cover object-center" %>
      </div>
      <div>
        <%= render(CheckMarkListComponent.new) do |list| %>
          <%= @work.point_list.each do |point| %>
            <% list.with_mark do %><%= point %><% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
