<% title "企業情報" %>
<% description "エンジニアリングをもっと自由に楽しく" %>
<% content_for :header do %>
  <header class="h-auto">
    <%= render "nav_bar" %>
    <div class="max-w-[960px] w-full mx-auto ">
      <div class="h-auto px-5 p-12 flex flex-col gap-12">
        <h1 class="text-white text-center">
          <div class="uppercase text-6xl font-bold font-sans inline-block border-b-8 pb-2 tracking-tight mb-5">company</div>
          <div class="text-xl">企業情報</div>
        </h1>
        <div class="text-center text-white leading-relaxed">
          エンジニアリングをもっと自由に楽しく。
        </div>
      </div>
    </div>
  </header>
<% end %>

<div class="flex-col space-y-16 md:space-y-36">
  <%= render(SectionComponent.new(id: "aboutus", title: "私たちについて", title_en: "About us")) do |section| %>
    <div class="space-y-8">
      <div class="space-y-4">
        <h3 class="text-xl font-semibold text-center">目指していること</h3>
        <div class="space-y-2">
          <h4 class="text-lg font-medium text-center">事業者が適切な人材を獲得する難しさを解消します。</h4>
          <p>
            開発を専門としない事業会社にとって、適切なスキルを持つ人材を見つけることは一筋縄ではいきません。事業者にはエンジニアのスキルを正確に評価することが困難であり、知名度がなければ採用自体が難しいのが現実です。エンジニアにとっては、多くの場合、彼らのスキルや経験が適切に評価されず、キャリアの成長や技術的な挑戦を求める機会が限られています。これはエンジニアのモチベーションやキャリアパスにも影響を及ぼしています。このような状況を改善するために、私たちは優れた人材の採用と育成を通じて、お客様とウェブ業界の発展に貢献します。
          </p>
        </div>
        <div class="space-y-2">
          <h4 class="text-lg font-medium text-center">事業の連続性を支える開発組織の構築を。</h4>
          <p>
            自社でのソフトウェア開発は、事業の持続性と競争力を高める上で不可欠です。しかし、新しい開発組織の立ち上げは、リスクとコストが伴います。私たちは、内製品質のエンジニアリング・サービスを提供することで、事業者が直面するこれらの課題を解決します。安全かつ効率的に、まるで自社のチームの一員であるかのように機能する、持続可能で柔軟な開発体制を実現します。これにより、事業者は開発プロセスをスムーズに進め、イノベーションを加速させます。
          </p>
        </div>
        <div class="space-y-2">
          <h4 class="text-lg font-medium text-center">エンジニアリングをもっと自由に楽しく。</h4>
          <p>
            エンジニアがエンジニアリングを楽しむこと、これがエンジニアが最も成長でき、事業に対するコミットを最大化できることだと、わたしたちは信じています。完全リモートワークを前提とした働きやすさを重視した制度設計や、エンジニアとしての成長を支援する仕組みづくりを通して、ウェブ業界や技術コミュニティに貢献できる人材を輩出します。
          </p>
        </div>
      </div>
      <div class="space-y-4">
        <h3 class="text-xl font-semibold text-center">解決する課題</h3>
        <div class="space-y-2">
          <h4 class="text-lg text-center">「大金をかけても成果が出ない」問題に対するスモールスタート特化</h4>
          <p>
            リスクを最小限に抑え、事業の成功確率を高める—これが私たちのアプローチです。タケユー・ウェブは、お客様の立場に立ち、Ruby on Rails の効率性を活かして、最小限の労力で最大の成果を追求します。明確なゴール設定により、無駄な開発を避け、小規模ながらも効果的なチームでの開発を実現します。
          </p>
        </div>
        <div class="space-y-2">
          <h4 class="text-lg text-center">「外注の品質とスピードに不満」に対するフルサイクル実践</h4>
          <p>
            私たちの使命は、単なる納品を超え、お客様に持続的な価値を提供することです。フルサイクル開発により、プロジェクトの初期段階から保守・運用まで、一貫した品質とスピードを保ちます。納品後も継続的なサポートを提供し、お客様のビジネス成長を支えるパートナーであり続けます。
          </p>
        </div>
        <div class="space-y-2">
          <h4 class="text-lg text-center">「優秀な人材が集まらない」という課題への新しい働き方推進</h4>
          <p>
            地理的な制約による優秀な人材の損失は、もはや過去の話。私たちは、完全リモートワークを推進し、全国どこからでも働ける環境を整えています。これにより、優れたエンジニアが集い、お客様の事業に全力を尽くすことが可能になります。
          </p>
        </div>
      </div>
      <div class="space-y-4">
        <h3 class="text-xl font-semibold text-center">Rubyの可能性への投資</h3>
        <div class="space-y-2">
          <p>
            タケユー・ウェブ株式会社は、Rubyの持つ無限の可能性に投資し、その成長と発展を支援しています。RubyKaigiをはじめとするイベントへの協賛は、私たちがRubyコミュニティに対して持つ熱意と感謝の表現です。
          </p>
          <p>
            RubyとそのフレームワークであるRuby on Railsは、その開発効率、拡張性、メンテナンスの容易さ、そして成熟したコミュニティによって、おおくの革新的なWebアプリケーションを生み出してきました。これらの特徴は、私たちが提供するサービスの品質と効率を高め、お客様のビジネスモデルを形にする上で重要な役割を果たしています。
          </p>
          <p>
            私たちのRubyコミュニティへの貢献は、勉強会の開催や技術情報の共有にとどまらず、コミュニティメンバーとの協力によるプロジェクトの推進にも及びます。私たちは、Rubyの将来に向けた投資を続け、技術コミュニティの一員として、その発展に貢献していきます。
          </p>
        </div>
      </div>
    </div>
  <% end %>
  <%= render(SectionComponent.new(id: "message", title: "代表挨拶", title_en: "Message")) do |section| %>
    <div class="space-y-2">
      <p>2008年の創業から現在に至るまで、私たちはWebサービスの受託開発を通じて、様々なお客様のビジネスを支援してきました。その過程で、プロフェッショナルとしての責任を果たさない開発会社や、不当な扱いを受ける事業会社、分断されたシステムチームとビジネスチーム、そして正しく評価されないエンジニアの存在に直面しました。これらの課題は、私たちの業界における深刻な問題であり、解決するための行動を起こす必要があります。</p>
      <p>私は、適切に評価されたエンジニアがプロフェッショナルとしての責任を全うし、ビジネスチームと共に同じ目標に向かって団結することが、企業にとって不可欠だと強く信じています。その実現のために、私たちはお客様とエンジニアが協力して目標を達成できる環境を提供することを使命としています。</p>
      <p>私たちの目指すのは、ただの開発パートナーではなく、お客様のビジネスを真に理解し、共に成功を築くための信頼できるパートナーでありたいということです。これからも、私たちタケユー・ウェブ株式会社は、技術と情熱をもって、お客様と社会の発展に貢献してまいります。</p>
      <p class="text-right">代表取締役 竹内雄一</p>
    </div>
  <% end %>

  <%= render(SectionComponent.new(id: "company-overview", title: "会社概要", title_en: "Company Overview")) do |section| %>
    <% section.with_outline do %>
      <p></p>
    <% end %>
    <table class="block sm:table sm:w-fit sm:mx-auto space-y-3">
      <tr class="block sm:table-row border-b">
        <th class="font-bold text-sm text-left block sm:table-cell align-top sm:p-2">社名</th>
        <td class="font-normal text-sm text-left block sm:table-cell sm:p-2">タケユー・ウェブ株式会社（TakeyuWeb Inc.）</td>
      </tr>
      <tr class="block sm:table-row border-b">
        <th class="font-bold text-sm text-left block sm:table-cell align-top sm:p-2">代表者</th>
        <td class="font-normal text-sm text-left block sm:table-cell sm:p-2">代表取締役 竹内雄一</td>
      </tr>
      <tr class="block sm:table-row border-b">
        <th class="font-bold text-sm text-left block sm:table-cell align-top sm:p-2">設立</th>
        <td class="font-normal text-sm text-left block sm:table-cell sm:p-2">2016年6月3日</td>
      </tr>
      <tr class="block sm:table-row border-b">
        <th class="font-bold text-sm text-left block sm:table-cell align-top sm:p-2">沿革</th>
        <td class="font-normal text-sm text-left block sm:table-cell sm:p-2">
          <table class="block sm:table">
            <tr class="block sm:table-row">
              <th class="font-normal text-sm text-left block sm:table-cell">2008年11月18日</th>
              <td class="font-normal text-sm text-left block sm:table-cell">個人事業としてタケユー・ウェブ開業</td>
            </tr>
            <tr class="block sm:table-row">
              <th class="font-normal text-sm text-left block sm:table-cell">2016年6月3日</th>
              <td class="font-normal text-sm text-left block sm:table-cell">タケユー・ウェブ株式会社設立</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="block sm:table-row border-b">
        <th class="font-bold text-sm text-left block sm:table-cell align-top sm:p-2">資本金</th>
        <td class="font-normal text-sm text-left block sm:table-cell sm:p-2">200万円</td>
      </tr>
      <tr class="block sm:table-row border-b">
        <th class="font-bold text-sm text-left block sm:table-cell align-top sm:p-2">所在地</th>
        <td class="font-normal text-sm text-left block sm:table-cell sm:p-2">〒330-0802 埼玉県さいたま市大宮区宮町一丁目5番地 銀座ビル7階</td>
      </tr>
      <tr class="block sm:table-row border-b">
        <th class="font-bold text-sm text-left block sm:table-cell align-top sm:p-2">事業内容</th>
        <td class="font-normal text-sm text-left block sm:table-cell sm:p-2">
          ウェブアプリケーションの企画、開発、運用、保守及びコンサルティング業務
        </td>
      </tr>
      <tr class="block sm:table-row border-b">
        <th class="font-bold text-sm text-left block sm:table-cell align-top sm:p-2">適格請求書発行事業者番号</th>
        <td class="font-normal text-sm text-left block sm:table-cell sm:p-2">
          <a href="https://www.invoice-kohyo.nta.go.jp/regno-search/detail?selRegNo=3030001114850">T3030001114850</a>
        </td>
      </tr>
    </table>
  <% end %>

  <%= render(SectionComponent.new(id: "affiliations", title: "加入団体", title_en: "Affiliations")) do |section| %>
    <ul class="sm:w-fit sm:mx-auto">
      <li>Ruby Association</li>
      <li>大宮法人会</li>
    </ul>
  <% end %>

  <%= render(SectionComponent.new(id: "banks", title: "取引銀行", title_en: "Banks")) do |section| %>
    <ul class="sm:w-fit sm:mx-auto">
      <li>みずほ銀行大宮支店</li>
      <li>埼玉縣信用金庫大宮支店</li>
    </ul>
  <% end %>

  <%= render(SectionComponent.new(id: "sponsors", title: "協賛", title_en: "Sponsors")) do |section| %>
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 md:grid-cols-3 xl:gap-x-8">
      <%= render(ArticleBoxComponent.new(title: "RubyKaigi 2024", image: image_path("sponsors/rubykaigi2024.png"), fit_image: "contain", url: "https://rubykaigi.org/2024/")) %>
      <%= render(ArticleBoxComponent.new(title: "Kaigi on Rails 2024", image: image_path("sponsors/kaigionrails2024_ogp.png"), fit_image: "contain", url: "https://kaigionrails.org/2024/")) %>
      <%= render(ArticleBoxComponent.new(title: "RubyWorld Conference 2024", image: image_path("sponsors/rwc2024-300x100-sponsor.png"), fit_image: "contain", url: "https://2024.rubyworld-conf.org/ja/")) %>
      <%= render(ArticleBoxComponent.new(title: "Ruby Association", image: image_path("sponsors/RAsponsor-s.png"), fit_image: "contain", url: "https://www.ruby.or.jp/ja/")) %>
    </div>
  <% end %>

 <%= render(SectionComponent.new(id: "contact", title: "お問い合わせ", title_en: "Contact")) do |section| %>
    <% section.with_outline do %>
      <p>開発・技術支援に関するお問い合わせ・ご相談は、下記のフォームよりお気軽にお寄せください。</p>
    <% end %>
    <%= turbo_frame_tag "new_contact", src: new_contact_path %>
  <% end %>
</div>
