<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: "タケユー・ウェブ株式会社", description: "Ruby on Rails 受託開発のスペシャリスト", icon: [{ href: "/favicon.ico", size: "64x64" }] %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags unless request.session_options[:skip] %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/4c6505265e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <%= render "application/sentry" %>
  </head>

  <body class="overflow-x-hidden bg-slate-50 dark:bg-slate-900">
    <header class="flex justify-between items-center bg-corporate-800 dark:bg-corporate-700 dark py-2 px-5 sm:px-10 fixed top-0 w-screen h-16 z-50 shadow">
      <div>
        <%= link_to root_path, class: "no-underline" do %>
          <%= image_tag 'logo.png', alt: "タケユー・ウェブ株式会社", class: "w-32" %>
        <% end %>
      </div>
      <nav class="flex space-x-2 justify-end">
        <%= link_to "お問い合わせ", "https://forms.gle/6NhA1352ZuRy4xiU7", class: "text-white" %>
      </nav>
    </header>
    <div class="h-[calc(100vh)] flex flex-col">
      <div class="container mx-auto grow">
        <div class="px-5 pt-16">
          <% if content_for(:breadcrumbs) %>
            <div class="text-xs text-gray-500 dark:text-gray-200 pt-10">
              <%= yield(:breadcrumbs) %>
            </div>
          <% end %>
          <main>
            <%= yield %>
          </main>
        </div>
      </div>
      <footer class="border-t border-gray-900/10 dark:border-gray-100/50 py-3 sm:mt-3 lg:mt-5 shrink-0" aria-labelledby="footer-heading">
        <div class="container mx-auto">
          <div class="px-5">
            <div class="flex flex-col text-center sm:flex-row sm:justify-between sm:text-left px-5 sm:px-10">
              <p class="text-xs leading-5 text-gray-500 dark:text-gray-200">Built with Rails <%= Rails.version %>, Ruby <%= RUBY_VERSION %> (<a href="https://github.com/takeyuwebinc/rails-takeyuwebinc"><i class="fa-brands fa-github"></i> GitHub</a>)</p>
              <p class="text-xs leading-5 text-gray-500 dark:text-gray-200">© <%= Date.current.year %> TakeyuWeb Inc. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
