<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: "タケユー・ウェブ株式会社", description: "Ruby on Rails 受託開発のスペシャリスト", icon: [{ href: "/favicon.ico", size: "64x64" }] %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags unless request.session_options[:skip] %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JZ4PDP11MX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JZ4PDP11MX');
    </script>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/4c6505265e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <%= render "application/sentry" %>
    <% if content_for(:html_head) %><%= yield(:html_head) %><% end %>
  </head>

  <body class="overflow-x-hidden bg-corporate-700 dark:bg-corporate-950">
    <% if content_for(:header) %>
      <%= yield(:header) %>
    <% else %>
      <header class="h-auto">
        <%= render "nav_bar" %>
        </div>
      </header>
    <% end %>
    <div class="flex flex-col  bg-white dark:bg-corporate-950">
      <div class="w-full max-w-[960px] mx-auto grow">
        <div class="px-5 pt-16">
          <% if content_for(:breadcrumbs) %>
            <div class="text-xs text-gray-500 dark:text-gray-200 pt-10">
              <%= yield(:breadcrumbs) %>
            </div>
          <% end %>
          <main>
            <%= yield %>
          </main>
        </div>
      </div>
      <footer class="bg-corporate-700 text-gray-100 dark py-3 mt-20 shrink-0" aria-labelledby="footer-heading">
        <div class="w-full max-w-[960px] mx-auto">
          <div class="px-5 pt-10">
            <section class="px-5 sm:px-10">
              <h2 class="font-semibold">タケユー・ウェブ株式会社</h2>
              <table class="min-w-full mt-10 block sm:table">
                <tr class="block sm:table-row">
                  <th class="font-normal text-sm text-left block sm:table-cell">創業</th>
                  <td class="font-normal text-sm text-left block sm:table-cell">2008年11月18日（法人設立 2016年6月3日）</td>
                </tr>
                <tr class="block mt-2 sm:mt-0 sm:table-row">
                  <th class="font-normal text-sm text-left block sm:table-cell">所在地</th>
                  <td class="font-normal text-sm text-left block sm:table-cell">〒330-0802 埼玉県さいたま市大宮区宮町一丁目5番地 銀座ビル7階</td>
                </tr>
                <tr class="block mt-2 sm:mt-0 sm:table-row">
                  <th class="font-normal text-sm text-left block sm:table-cell">代表者</th>
                  <td class="font-normal text-sm text-left block sm:table-cell">代表取締役 竹内雄一</td>
                </tr>
                <tr class="block mt-2 sm:mt-0 sm:table-row">
                  <th class="font-normal text-sm text-left block sm:table-cell">事業内容</th>
                  <td class="font-normal text-sm text-left block sm:table-cell">
                    ウェブアプリケーションの企画、開発、運用、保守及びコンサルティング業務
                  </td>
                </tr>
                <tr class="block mt-2 sm:mt-0 sm:table-row">
                  <th class="font-normal text-sm text-left block sm:table-cell">資本金</th>
                  <td class="font-normal text-sm text-left block sm:table-cell">200万円</td>
                </tr>
              </table>
            </section>
          </div>
          <div class="px-5 pt-10">
            <div class="flex flex-col text-center sm:flex-row sm:justify-between sm:text-left px-5 sm:px-10">
              <p class="text-xs leading-5">Built with Rails <%= Rails.version %>, Ruby <%= RUBY_VERSION %> (<a href="https://github.com/takeyuwebinc/rails-takeyuwebinc"><i class="fa-brands fa-github"></i> GitHub</a>)</p>
              <p class="text-xs leading-5">© <%= Date.current.year %> TakeyuWeb Inc. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
